<div class="h-20 w-301 px-8 py-4.5 flex items-center justify-center sm:justify-between">
  <div>
    <app-input class="hidden sm:flex"></app-input>
  </div>
  <div class="flex items-center gap-3">
    <div class="flex gap-2 items-center justify-center">
      <app-button-icon icon="matMessageOutline" class="hidden sm:flex"></app-button-icon>
      <app-button-icon icon="matNotificationsOutline"></app-button-icon>
    </div>
    <app-user image="images/user.jpeg" name="Gabriel Bueno" email="bueno@yahoo.com"></app-user>
  </div>
</div>
