<div class="h-20 w-301 px-8 py-4.5 flex items-center justify-between">
  <div>
    <app-input></app-input>
  </div>
  <div class="flex items-center gap-3">
    <div class="flex gap-2 items-center justify-center">
      <app-button></app-button>
      <app-button></app-button>
    </div>
    <div class="flex gap-3 items-center justify-center">
      <img src="images/user.jpeg" alt="User image" class="w-11 h-11 rounded-full" />
      <div>
        <h2 class="text-xl">Niko Flamini</h2>
        <h3 class="text-md">nfilamini@yahoo.com</h3>
      </div>
    </div>
  </div>
</div>
