<div class="px-4 py-8 sm:bg-gray-100 max-w-59 rounded-r-xl">
  <a href="/dashboard" class="cursor-pointer">
    <div class="mb-9 flex gap-2">
      <img src="images/weave.svg" alt="Weave logo" />
      <span class="text-xl sm:text-4xl font-bold">WEAVE</span>
    </div>
  </a>

  <div class="hidden sm:flex flex-col gap-2">
    @for (item of navBarItems; track item.label) {
      <a
        [routerLink]="item.route"
        routerLinkActive="bg-transparent text-black"
        class="flex h-12.5 w-51 rounded-xl items-center gap-2 cursor-pointer p-3.5 text-black hover:bg-weave-primary hover:text-white transition-colors duration-200"
      >
        <div class="w-5.5 h-5.5">
          <ng-icon [name]="item.icon" size="22px"></ng-icon>
        </div>
        <p class="text-xl">{{ item.label }}</p>
      </a>
    }
    <div>
      <app-update></app-update>
    </div>
  </div>
</div>
