<div class="bg-gray-100 p-4 rounded-lg shadow-lg w-fit flex flex-col gap-3">
  <div class="flex items-center gap-3">
    <div
      class="w-10 h-10 rounded-full bg-green-50 flex items-center justify-center text-weave-primary"
    >
      <span>Icon</span>
    </div>
    <span class="text-gray-400 font-medium text-sm">February Spend</span>
  </div>

  <div class="flex items-center gap-8">
    <span class="text-2xl font-bold text-black tracking-tight"> $984,86.00 </span>
    <div class="flex items-center gap-1 text-green-500 font-medium text-sm">
      <span>Icon</span>
      <span>+4,85%</span>
    </div>
  </div>
</div>
