<div class="bg-gray-100 p-4 rounded-lg shadow-lg w-fit flex flex-col gap-3">
  <div class="flex items-center gap-3">
    <div
      class="w-10 h-10 rounded-lg bg-weave-primary/10 flex items-center justify-center text-weave-primary"
    >
      <ng-icon [name]="icon()!" size="26px"></ng-icon>
    </div>
    <span class="text-gray-400 font-medium text-sm">{{ label() }}</span>
  </div>

  <div class="flex items-center gap-8">
    <span class="text-2xl font-bold text-black tracking-tight">{{ value() }}</span>
    <div class="flex items-center gap-1 text-green-500 font-medium text-sm">
      <ng-icon [name]="iconPercentage()!" size="22px"></ng-icon>
      <span>{{ percentage() }}</span>
    </div>
  </div>
</div>
