<div
  class="items-center justify-center bg-neutral-100 py-2 px-4 rounded-xl grid grid-cols-7 rounded-b-none"
>
  <div class="flex gap-9 col-span-1">
    <input type="checkbox" name="" id="" />
    <span class="text-gray-500">Name</span>
  </div>
  <span class="text-gray-500 col-start-3">Amount</span>
  <span class="text-gray-500">Date</span>
  <span class="text-gray-500">Last Transaction</span>
  <span class="text-gray-500">Card</span>
  <span class="text-gray-500">Action</span>
</div>
@for (item of tableItems; track $index) {
  <div
    class="grid grid-cols-7 items-center py-2 px-4 cursor-pointer hover:bg-weave-primary transition-colors duration-200 rounded-xl"
  >
    <div class="flex gap-9">
      <input type="checkbox" name="" id="" />
      <app-user [name]="item.userName" [email]="item.userEmail" [image]="item.userImage"></app-user>
    </div>
    <span class="col-start-3">{{ item.amount }}</span>
    <span>{{ item.date }}</span>
    <span class="text-gray-500">{{ item.lastTransection }}</span>
    <span>{{ item.card }}</span>
    <span>{{ item.action }}</span>
  </div>
}
